body, html{
	font-family: 'Montserrat';
	height:100vh;
	background-color: #1f1b1b;
}

p {
	font-size: 11px;
	width:100%;
	z-index: 20;
	font-weight: 100;
	line-height: 1.7;
}

h1, h2, h3 {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 1.7;
}

h3 {
	font-size: 13px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 19px;
}

.food-header {
	background-image: url('../img/burrito.jpg');
	height: 250px;
	background-size: cover;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;

}

.carousel-inner img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
}

.navbar {
	position: absolute;
	width: 100%;
	z-index: 2;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(251, 251, 251, 0.5);

}

main {
	height: 100%;
	width: 100%;
}

.content {
	padding: 20px;
}

.content h3 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.food-menu h3 {
	border-top: solid 1px #ececec;
	letter-spacing: 3px;
	font-size: 14px;

}

.food-title {
	color: rgb(182, 163, 119);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.socialmedia {
	z-index: 22;
	position: absolute;
	bottom: 8%;
	padding-left:40px;
}

.fab{
	size: 50px;
	color:white;
}

.fab:hover{
	color:lightblue;
}

.full-height {
	height: 100%;
}

.info {
	overflow: hidden;
}

.info-image {
	background-image: url('../img/after-business-hours-architecture-bar-34650.jpg');
	background-size: cover;
}

.info-outer {
	background-color: #1f1b1b;
	display: flex;
	align-items: center;
}

.info-inner h2 {
	color: wheat;
}

.info-inner {
	color: white;
	padding: 70px;
}

#logo {
	height:63px;
	width:120px;
}

@media(max-width:767px){
	#logo{
		height:45.6px;
		width: 80.6px;
	}
}