
body,html {
	height:100vh;
	background-color:#333131;
}

.carousel-inner img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
}

.navbar {
	position: absolute;
	width:100%;
	z-index: 20;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.socialmedia {
	z-index: 22;
	position: absolute;
	bottom: 8%;
	padding-left:40px;
}

.fab{
	size: 50px;
	color:white;
}

.fab:hover{
	color:lightblue;
}

@media(max-width:767px){
	#logo{
		height:60.6px;
		width: 80.6px;
	}
}